html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.dashboard-canvas {
    background-color: lightsteelblue;
    margin-top: 3px;
    padding: 5px 5px 5px 20px;
}

.dashboard-card {
    margin: 5px 5px 2px 5px;
    background-color: white;
    padding: 2px 2px 2px 2px;
}