@model StateHighCouncil.Web.Models.Legislator

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Legislator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateId" class="control-label"></label>
                <input asp-for="StateId" class="form-control" />
                <span asp-validation-for="StateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="House" class="control-label"></label>
                <input asp-for="House" class="form-control" />
                <span asp-validation-for="House" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Party" class="control-label"></label>
                <input asp-for="Party" class="form-control" />
                <span asp-validation-for="Party" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="District" class="control-label"></label>
                <input asp-for="District" class="form-control" />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceStart" class="control-label"></label>
                <input asp-for="ServiceStart" class="form-control" />
                <span asp-validation-for="ServiceStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profession" class="control-label"></label>
                <input asp-for="Profession" class="form-control" />
                <span asp-validation-for="Profession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionalAffiliations" class="control-label"></label>
                <input asp-for="ProfessionalAffiliations" class="form-control" />
                <span asp-validation-for="ProfessionalAffiliations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Education" class="control-label"></label>
                <input asp-for="Education" class="form-control" />
                <span asp-validation-for="Education" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecognitionsAndHonors" class="control-label"></label>
                <input asp-for="RecognitionsAndHonors" class="form-control" />
                <span asp-validation-for="RecognitionsAndHonors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Counties" class="control-label"></label>
                <input asp-for="Counties" class="form-control" />
                <span asp-validation-for="Counties" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cell" class="control-label"></label>
                <input asp-for="Cell" class="form-control" />
                <span asp-validation-for="Cell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkPhone" class="control-label"></label>
                <input asp-for="WorkPhone" class="form-control" />
                <span asp-validation-for="WorkPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LegislationUrl" class="control-label"></label>
                <input asp-for="LegislationUrl" class="form-control" />
                <span asp-validation-for="LegislationUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DemographicUrl" class="control-label"></label>
                <input asp-for="DemographicUrl" class="form-control" />
                <span asp-validation-for="DemographicUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Religion" class="control-label"></label>
                <input asp-for="Religion" class="form-control" />
                <span asp-validation-for="Religion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TwitterUrl" class="control-label"></label>
                <input asp-for="TwitterUrl" class="form-control" />
                <span asp-validation-for="TwitterUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacebookUrl" class="control-label"></label>
                <input asp-for="FacebookUrl" class="form-control" />
                <span asp-validation-for="FacebookUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomePhone" class="control-label"></label>
                <input asp-for="HomePhone" class="form-control" />
                <span asp-validation-for="HomePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bio" class="control-label"></label>
                <input asp-for="Bio" class="form-control" />
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fax" class="control-label"></label>
                <input asp-for="Fax" class="form-control" />
                <span asp-validation-for="Fax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstagramUrl" class="control-label"></label>
                <input asp-for="InstagramUrl" class="form-control" />
                <span asp-validation-for="InstagramUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhenAdded" class="control-label"></label>
                <input asp-for="WhenAdded" class="form-control" />
                <span asp-validation-for="WhenAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhenLastUpdated" class="control-label"></label>
                <input asp-for="WhenLastUpdated" class="form-control" />
                <span asp-validation-for="WhenLastUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

