@model StateHighCouncil.Web.Models.DashboardViewModel

<link href="~/lib/apexcharts/apexcharts.css" rel="stylesheet" />

@{
    ViewData["Title"] = "State High Council";
}

<div>
    <h1 class="display-4">The State High Council</h1>
   
    @*<p><a href="Home/UpdateStateData">Update State Data</a></p>*@

</div>


